<table *ngIf="user$ | async as user">
    <thead>
      <tr>
        <td>id</td>
        <td>gender</td>
        <td>first name</td>
        <td>last name</td>
      </tr>
    </thead>
    <tr>
        <td class="user-id">{{ user.id }}</td>
        <td class="user-gender">{{ user.gender | gender }}</td>
        <td class="user-first-name">{{ user.firstName }}</td>
        <td class="user-last-name">{{ user.lastName }}</td>
    </tr>
  </table>